*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Archivo Black", serif;
    font-style: normal;
}

body{
    background-color:  #67b99a;
}

/* ************************* Navbar ************************* */


h1{
    background-color: #99e2b4;
    padding: 10px;
}   

/* ************************* MAIN ************************* */
#container{
    height: 550px;
    width: 800px;
    margin: 50px auto;
    border-radius: 20px;
}

#options{
    height: 15%;
    width: 100%;
    background-color: #99e2b4;
    padding-top: 2%;
}

/* ************************* Option Buttons ************************* */
#options button{
    height: 80%;
    width: 30%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #67b99a;
    color: white;
    margin: auto 5px;
}
/* ************************* Timer **************************/
#timer{
    height: 85%;
    width: 100%;

    background-color: #ecf5f124;

}

#timer h2{
    color: white;
    font-size: 14rem; 
}

#timer button{
    width: 40%;
    height: 20%;
    font-size: 2rem;
    border-radius: 12px;
    border: none;
}

/* ------------------------------ */

i{
    margin-right: 13px;
}

main{
   height: 80vh;
}


footer{
    height:34px;
    width: 100%;
    background-color: #99e2b4;
    color: black;
    padding-top: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

footer a{
    font-family:Georgia, 'Times New Roman', Times, serif;
}


/* Responsive Styles */

@media screen and (max-width: 1024px) {
    #container {
        width: 90%;
        height: 87%;
    }
    
    #timer h2 {
        font-size: 10rem;
    }
    
    #timer button {
        width: 50%;
        height: 30%;    

    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
        padding: 8px;
    }
    #container{
        width: 80%;
        height: 87%;
    }
    #options{
        height: 23%;
    }

    #options button {
        width: 45%;
        font-size: 0.9rem;
        height: 40px;
        margin: 5px;
    }
    
    #timer h2 {
        padding-top: 10%;
        font-size: 8.5rem;
    }
    
    #timer button {
        width: 60%;
        height: 15%;
        font-size: 1.5rem;
        margin-top: 15%;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 1.2rem;
        padding: 6px;
    }
    
    #container {
        margin: 20px auto;
        width: 95%;
        height: 80%;
    }
    
    #options {
        padding-top: 5%;
        height: 35%;
    }
    
    #options button {
        width: 90%;
        font-size: 0.8rem;
        margin-bottom: 5px;
    }
    
    #timer h2 {
        font-size: 6rem;
    }
    
    #timer button {
        width: 70%;
        height: 15%;
        font-size: 1.2rem;
        margin-top: 25%;
    }
    
    footer {
        font-size: 0.8rem;
        padding-top: 10px;
        margin-top: 10%;
    }
}
